<Page>
  <ActionBar>
    <Label class="action-bar-title" text="Welcome"></Label>
  </ActionBar>
  <GridLayout class="layout" columns="*,*,*" rows="*,*,*,*,*,*,*">
    <Image row="1" col="1" colSpan="3" rowSpan="3" class="logo" src="~/images/logo2.png" stretch="none"
    ></Image>
    <Label class="slogan" row="4" colSpan="3" text='"Farm to Fridge"'></Label>
    <Button [nsRouterLink]="['/login']" class="btn" row="5" colSpan="3" text="Login"></Button>
    <Button class="btn signup-btn" row="6" colSpan="3" text="Sign Up"></Button>
  </GridLayout>
</Page>