.layout {
  background-color: #C6DABF;
}

.slogan {
  text-align: center;
  font-weight: bold;
  font-size: 20;
}

.btn {
  color: #ffffff;
  background-color: #44CF6C;
  width: 100%;
}

.input {
  width: 80%;
}

.submit-btn {
  margin-top: 10;
  color: #ffffff;
  background-color: #791E94;
  width: 80%;
}

.signup-redirect {
  text-align: center;
  width: 60%;
}

