.layout {
  background-color: #C6DABF;
}

.label {
  vertical-align: middle;
  font-weight: bold;
  font-size: 14;
}

.input {
  width: 100%;
}

.btn {
  font-size: 14;
  color: #ffffff;
  background-color: #791E94;
}